<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC36kW71lvbw4E4cFhuShJYSpJIfvcqnNA 
    &q=Hostel+Detroit,Detroit+MI" allowfullscreen>
</iframe>
